$color-text: #000;
$bg-button: #007cc2;

$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$materialFont : "Material Design Icons";

// Bourbon
$em-base: 16px; // Sets global base em size for the px-to-em and px-to-rem function. This should be the same size as your body font-size. Setting default is 16px.
