.saloon-info{
  text-align: center;
  vertical-align: top;
  @include mq(1023px) {
    margin-bottom: 30px;
  }
  &>.wrap{
    background: url('../img/saloon.jpg') 0 0 no-repeat;
    background-size: cover;
    padding: 45px 0px 40px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(57,57,57,.8);
      z-index: 0;
    }
    &>*{
      position: relative;
      z-index: 1;
    }
  }
  &__#{logo}{
    figure{
      width: 110px;
      height: 110px;
      border-radius: 5px;
      background: #fff;
      position: relative;
      margin: 0 auto;
      &.medal{
        &::before{
          position: absolute;
          content: "";
          right: -20px;
          top: 0;
          width: 14px;
          height: 16px;
          background: url('../img/medal-icon-a.png') 0 0 no-repeat;
          z-index: 2;
        }
      }
      img{
        display: block;
        max-width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
      }
    }
  }
  &__#{name}{
    margin-top: 40px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: #fff;
  }
  &__#{status}{
    height: 35px;
    line-height: 35px;
    border: 1px solid #838383;
    display: inline-block;
    padding: 0px 15px;
    color: white;
    font-size: 13px;
    margin: 25px 0;
    border-radius: 2px;
  }
  &__#{working-time}{
    font-size: 13px;
    font-weight: 400;
    color: #b5b5b5;
    &>span{
      color: #fff;
    }
  }
}
.saloon-contacts{
  vertical-align: top;
  h2{
    margin-bottom: 16px;
  }
}
.contacts-block{
  background: #fff;
  padding: 15px 5px 20px 10px;
  margin-bottom: 20px;
  &__#{table}{
    .img{
      width: 70px;
      height: 70px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .text{
      padding-left: 10px;
      &__#{name}{
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 10px;
      }
      &__#{prof}{
        color: #555;
        font-size: 13px;
        font-weight: 400;
        line-height: 12px;
        margin-bottom: 10px;
      }
      .tel{
        font-size: 13px;
        display: block;
        margin-bottom: 10px;
        color: #000;
        &+.tel{
          margin-bottom: 0;
        }
      }
      a.link-m{
        position: relative;
        margin-left: 20px;
        display: inline-block;
        margin-top: 10px;
        line-height: 12px;
        &:hover{
          cursor: pointer;
        }
        &:before{
          content: "";
          position: absolute;
          left: -20px;
          top: 0;
          display: block;
          width: 14px;
          height: 12px;
          background: url('../img/link-icon.png') 0 0 no-repeat;
        }
      }
    }
  }
}
.map{
  position: relative;
  height: 170px;
  overflow: hidden;
  @include phone {
    margin-bottom: 20px;
  }
  iframe{
    width: 100%;
    height: 362px;
    margin-top: -105px;
  }
  .address{
    position: absolute;
    opacity: 0.9;
    background-color: white;
    padding: 10px;
    font-size: em(13px);
    font-weight: 400;
    line-height: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: auto;
    width: auto;
    transform: translateX(0%);
    a{
      text-decoration: none;
      border-bottom: 1px dotted #aeaeae;
      &:hover{
        border-bottom: 0;
      }
    }
  }
}
.saloon-message{
  .wrap{
    background: #fff;
    padding: 15px 10px 10px;
    .form-group{
      margin-bottom: 9px;
    }
  }
  h2{
    margin-bottom: 12px;
  }
  .message-form{
    textarea{
      height: 60px;
    }
    textarea, input {
      border: 1px solid #edeced;
    }
  }
}
.table{
  display: table;
  width: 100%;
  margin: 0;
  &__#{cell}{
    display: table-cell;
    vertical-align: top;
  }
}

.saloon-about{
  padding: 20px 0px 50px;
  @include phone {
    padding-bottom: 30px;
  }
}
