doctype html
html
  include ./partials/head.jade
  body.not-found
    include ./partials/debug.jade
    #wrapper
      #content
        include ./partials/header.jade
                    
        main.content
          .container
            .not-found-block.text-center
              h1 404 — Страница не найдена
              span Попробуйте поиск по сайту или просто выберите рубрику:
              form
                input(type="text" placeholder="Поиск ...")
                button
              ul
                li: a(href="#").link-m Главная
              ul
                li: a(href="#").link-m Подать объявление
                li: a(href="#").link-m Добавить диллера
                li: a(href="#").link-m Создать аккаунт
                li: a(href="#").link-m Войти
                
              ul
                li: a(href="#").link-m Новости
                li: a(href="#").link-m Компании
                li: a(href="#").link-m Вопросы и ответы
                                

      include ./partials/footer.jade
    include ./partials/popups.jade
    include ./partials/scripts.jade
