doctype html
html
  include ./partials/head.jade
  body
    include ./partials/debug.jade
    #wrapper
      #content
        include ./partials/headerLog.jade
                    
        main.content.user-account
          .container
            ol.breadcrumb
              li: a(href='#') Главная
              li: a(href='#') Кабинет
              li.active Сообщения
            h1.heading-title
              |Сообщения
              
          section.lk-wrap
            .container
              .row
                .col-xs-12.col-md-7.messageBlock
                  .media
                    .media-left
                      a(href='#')
                        img.media-object(src='img/no-foto-avatar.jpg', alt='...')
                    .media-body
                      .messageBlock__user
                        |Анатолий Сухоруков, <time class="date">17 августа 2016</time>
                      h4.media-heading 
                        a(href="#").link-m.link-black 
                          |Продажа lamborghini Aventador LP-750
                      p.messageBlock__text
                        |Добрый день! Автомобиль растаможен, доку ...
                      a(href="#").link-m.answer-message-btn Ответить
                .col-xs-12.col-md-7.messageBlock
                  .media
                    .media-left
                      a(href='#')
                        img.media-object(src='img/user-photo.jpg', alt='...')
                    .media-body
                      .messageBlock__user
                        |Анатолий Сухоруков, <time class="date">17 августа 2016</time>
                      h4.media-heading 
                        a(href="#").link-m.link-black 
                          |Продажа lamborghini Aventador LP-750
                      p.messageBlock__text
                        |Добрый день! Автомобиль растаможен, доку ...
                      a(href="#").link-m.answer-message-btn Ответить
                .col-xs-12.col-md-7.messageBlock
                  .media
                    .media-left
                      a(href='#')
                        img.media-object(src='img/no-foto-avatar.jpg', alt='...')
                    .media-body
                      .messageBlock__user
                        |Анатолий Сухоруков, <time class="date">17 августа 2016</time>
                      h4.media-heading 
                        a(href="#").link-m.link-black 
                          |Продажа lamborghini Aventador LP-750
                      p.messageBlock__text
                        |Добрый день! Автомобиль растаможен, доку ...
                      a(href="#").link-m.answer-message-btn Ответить
                      
                    
                      
      include ./partials/footer.jade
    include ./partials/popups.jade
    include ./partials/scripts.jade
