#debug
  a(href="index.html") main
  a(href="history.html") history
  a(href="filterPage.html") filterPage
  a(href="main.html") mainPage
  a(href="autosalon.html") autosalon
  a(href="newAccount.html") newAccount
  a(href="allBrands.html") allBrands
  a(href="allCategories.html") allCategories
  a(href="news.html") news
  a(href="post.html") post
  a(href="lk_bike.html") lk_bike
  a(href="lk_car.html") lk_car
  a(href="lk_house.html") lk_house
  a(href="lk_house_noLogin.html") lk_house_noLogin
  a(href="allAds.html") allAds
  a(href="allMessages.html") allMessages
  a(href="messages.html") messages
  a(href="profileUser.html") profileUser
  a(href="profileCompany.html") profileCompany
  a(href="addManager.html") addManager
  a(href="allManager.html") allManager
  a(href="companiesSearch.html") companiesSearch
  a(href="companies.html") companies
  a(href="login.html") login
  a(href="pass.html") pass
  a(href="404.html") 404
  a(href="posted.html") posted
  a(href="#" data-toggle="modal" data-target="#brandModal") brandModal
  //- a(href="#").gridTest gridTest
