footer#footer.footer
  .container
    .row
      .col-xs-12.col-sm-6.col-md-3.col-md-push-3.footer__categories.equalH
        h6.heading-small Рубрики
        ul.footer-list
          li: a(href="#") Главная страница
        
        ul.footer-list
          li: a(href="#") Автомобили
          li: a(href="#") Антиквариат
          li: a(href="#") Вертолеты
          li: a(href="#") Гаджеты
          li: a(href="#") Интерьер
          li: a(href="#") Мотоциклы
        ul.footer-list
          li: a(href="#") Бренды
          li: a(href="#") Диллеры
        
      .col-xs-12.col-sm-6.col-md-3.col-md-push-3.footer__portal.equalH
        h6.heading-small Портал
        ul.footer-list
          li: a(href="#") Подать объявление
          li: a(href="#") Добавить диллера
          li: a(href="#") Создать аккаунт
          li: a(href="#") Войти
        ul.footer-list
          li: a(href="#") Блог
          li: a(href="#") Вопросы и ответы
        
      .col-xs-12.col-sm-6.col-md-3.col-md-pull-6.footer__contacts.equalH
        a(href="#").footer__contacts__logo:     img(src="img/logo-footer.png", alt="")
        small.logo-caption Mfair Украина — доска платных объявлений товаров роскоши.
        .support
          .support__heading Поддержка:<br>
          .support__time График работы: Пн. - Вн. 10:00 - 18:00
          a(href="#").support__phone +38 (044) 540 19 45
          a(href="#").support__mail.link-m.link-white info@mfair.com.ua
        .copyrights
          |&copy;  2004 – 2014 Команда «Mfair Украина».<br>Все права защищены.

      .col-xs-12.col-sm-6.col-md-3.footer__news.equalH
        h6.heading-small Следите за новостями
        .footer__news__socials
          ul
            li: a(href="#").link-m.link-white.fb Facebook
            li: a(href="#").link-m.link-white.insta Instagram
        .footer__news__club
          h6.heading-small Клуб Mfair
          p
            |Члены клуба получают доступ к эксклюзивному контенту, полный доступ к сайту, форумам, оповещение о уникальных предложениях и многому другому.
          a(href="#").btn.btn-default.btn-dark.reg-btn
            span Регистрация
