script(type="text/javascript", src="js/application.js")
script(type="text/javascript", src="https://cdn.jsdelivr.net/jquery.columnizer/1.6.0/jquery.columnizer.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.js")
script(type="text/javascript", src="js/main.js")
